:root{
    --assent: #28e117;
    --assent2: #000000;
}

body{
    font-family: Arial;
    background-color: #f4f4f4;
}

button{
    padding: 10px;
    border: none;
    cursor: pointer;
}
.successo{
    background-color: var(--assent);
    color: var(--assent2);
}
.danger{
    background-color: red;
    color: var(--assent2);
}